.DS_Store

/.idea
/examples/gateway/main

*.out

examples/minimal-docker/curl/ca-certificates.crt
examples/minimal-docker/https/localhost.crt
examples/minimal-docker/https/localhost.key
examples/minimal-docker/vfsgen/data/assets_vfsdata.go

_excluded
examples/books-api/main.zip
examples/books-api/output.json